.App {
  font-family: sans-serif;
  text-align: center;
}

.error {
  color: red;
}

.error::before {
  content: '⛔️';
}
html,
body {
  margin: 0;
  padding: 0;
  background: white;
}

.App {
  box-shadow: 0 10px 10px #95a5a666;
  background: #ecf0f1;
  border: 2px solid #bdc3c7;
  border-radius: 4px;
  font-family: sans-serif;
  text-align: center;
  width: fit-content;
  max-width: 100%;
  padding: 20px;
  margin: 20px auto;
}

.App::before {
  content: '👋';
  font-size: 40px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  padding: 10px;
  appearance: none;
  border: 1px solid #34495e;
  border-radius: 2px;
  font-size: 14px;
  transition: all 0.1s ease-out;
}

input:hover,
input:focus {
  transform: scale(1.05);
}

input[aria-invalid='true'] {
  border-color: #e74c3c;
}

input[aria-invalid='true']:hover,
input[aria-invalid='true']:focus {
  border-color: #c0392b;
}

button {
  appearance: none;
  background: #34495e;
  border: none;
  border-radius: 2px;
  color: #ecf0f1;
  padding: 10px 20px;
  font-size: 14px;
  width: 100%;
}

button:focus,
button:hover {
  background: #2c3e50;
  cursor: pointer;
}

.error {
  color: red;
}

.error::before {
  content: '⛔️';
}
